$pink-lv1: #F6F0EB;
$pink-lv2: #E6C0BD;
$pink-lv3: #CC818A;

$white: #FFFdFd;
$white-hue: rgba(255, 255, 255, 0.8);
$white-shadow:rgba(255,255,255,0.4);

$gray-lv1: #DDDDDD;
$gray-lv2: #CCCCCC;
$gray-lv3: #9D9DA1;
$gray-lv3: #707070;
$gray-lv5: #5A5A5A;
