.header {
  background-color: $pink-lv2;

  .header-logo {
    background: #fff;
    left: 0;
    position: absolute;
    top: -1.5rem;
    width: 100px;
    z-index: 1;
  
    &::after{
      border-left: 3.1rem solid transparent;
      border-right: 3.1rem solid transparent;
      border-top: 20px solid $white;
      content: '';
      height: 0;
      left: 0;
      position: absolute;
      top: 100%;
      width: 0;
      }
    }
  .header-nav {
    color: $white;
    font-size: 1.2rem;
  }
  .sp-header-nav {
    color: $white;
    font-size: 2rem;
    &__item{
      margin-left: 10px;
    }
  }
}

.keyvis-caption {
  @include klee;
  background: radial-gradient($white-shadow,transparent);
  background: -moz-radial-gradient($white-shadow,transparent);
  background: -webkit-radial-gradient($white-shadow,transparent);
  color: $gray-lv3;
  font-size: 1rem;
  padding: 0;
}

/* main------------------------------------------*/
.main {
  .top-news {
    background: $white;
    .news__right {
      .news-box {
        &__header{
          @include han-sans-r;
          font-size: 16px;
        }
      }
    }
  }

  .events-container {
    .events {
      .event {
        &__content {
          &__header {
            @include midashi-mi;
            font-size: 18px;
          }
        }
      }
    }
  }  
}

/* aside------------------------------------------*/
.aside {
  .sp-right-nav {
    background-color: $white-hue;
    color: $pink-lv3;
    height: 100%;
    position: fixed;
    right: -350px;
    top: 0;
    font-size: 1.6rem;
    transition: .4s ease-in-out;
    width: 350px;
    z-index: 30;

    .nav-close-btn{
      float: right;
      position: relative;
      height: 36px;
      width: 40px;

      &__bar{
        background-color: $pink-lv3;
        height: 2px;
        position: absolute;
        width: 100%;
        &:nth-of-type(1){
          top: 0;
          transform: rotate(45deg);
        }
        &:nth-of-type(2){
          transform: rotate(-45deg);
        }
      }
    }
    .nav-list-box{
      clear: both;
    }
    &__list{
      @include tenez-r;
      border-bottom: solid 1px $pink-lv3;
    }
    .btn__donate {
      @include btn-common;
      font-size: 1.6rem;
    }
  }
  .open {
    right: 0px;
    transition: .4s ease-in-out;
  }
  .right-nav {
    &__list{
      border-top: $border-gray-solid;
      &:last-child {
        border-bottom: $border-gray-solid;
      }
      .nav-link {
        color: $gray-lv3;
        .fa-facebook {
          font-size: 2rem;

        }
      }
    }
  }
}

/* aboutus contact------------------------------------------*/

.aboutus-container {
  background-color: $white;
  background-image: url(assets/img/flower-bouket.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: cover;

  &__left {
    background-color: $mask;
    .test{
      margin-top: 5rem;
      .aboutus{
        height: 250px;
        &__btn-box{
          margin-top: 2rem;
          &__btn{
            @include btn-common;
          }
        }
      }
    }
  }

  &__right {
    background-color: $mask;
  }
}

.contactus-container {
  .contactus {
    &__form {
      .label-inline {
        @include label-common;
        border-bottom: $border-pink-dotted;
        .input-area {
          @include form-reset;
        }
      }
      .label-block {
        @include label-common;
      }
      .textarea {
        @include form-reset;
        border: $border-pink-dotted;
      }
      .submit-area {
        .btn__submit {
          @include btn-common;
          background: $pink-lv3;
          border-radius: 0;
        }
      }
      .form-tab {
        height: 400px;
      }
    }
  }
}

/* aboutus contact------------------------------------------*/
.footer {
  background-color: $pink-lv2;
  color:$white;
  &__header {
    @include han-sans-r;
    color: $white;
    font-size: 1rem;
  }
}

/* トップに戻るボタン -------------------------------------------*/
.back-to-top {
  border-left: $border-pink-solid-tick;
  border-top: $border-pink-solid-tick;
  display: none;
  height: 40px;
  position: fixed;
    bottom: 50px;
    right: 40px;
  transform: rotate(45deg);
  width: 40px;
}

/* ハンバーガーメニュー -------------------------------------------*/

.menu-trigger,
.menu-trigger span {
  box-sizing: border-box;
  display: inline-block;
  transition: all .4s;
}
.menu-trigger {
  height: 24px;
  position: relative;
  width: 30px;
}
.menu-trigger span {
  background-color: #fff;
  height: 2px;
  position: absolute;
    left: 0;
  width: 100%;
}
.menu-trigger span:nth-of-type(1) {
  top: 0;
}
.menu-trigger span:nth-of-type(2) {
  top: 10px;
}
.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}

/* mediaquery------------------------------------------*/
// lgサイズ以上
@media screen and (min-width: 992px){
  .header{
    .header-logo {
      width: auto;
      max-width: 180px;
    
      &::after{
      border-left: 5.6rem solid transparent;
      border-right: 5.6rem solid transparent;
      border-top: 20px solid $white;
      }
    }
  }
  .back-to-top{
    display: none;
    height: 80px;
    position: fixed;
      bottom: 300px;
      right: 50px;
    width: 80px;
  }
  

}
// smallサイズ以上
@media screen and (min-width: 576px){
  .keyvis-caption{
    font-size: xx-large;
  }
  .aboutus-container{
    background-size:contain ;
  }
}
