$border-gray-solid: solid 1px $gray-lv2; //PC版サイドメニューの線
$border-pink-dotted: dotted 2px $pink-lv3; // フォームの線
$border-pink-dotted-tick: dotted 4px $pink-lv3; //目次の線, イベント・事業のタイトルの下線
$border-pink-solid-tick: solid 2px $pink-lv3; //トップに戻るボタンの線
$border-pink2-solid-2px: solid 2px $pink-lv2; //ページネーションの線

$mask: rgba(255, 255, 255, .5);
